<p>Hey {{name}} {{surname}},</p>
<p>Has sido registrado en C-care!</p>
<p>Puedes acceder con este email {{email}} y esta contraseña {{password}}</p>
<p>Ante cualquier duda puede puede enviar un email:</p>
<p>{{server}}</p>